.modal {
  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($dark-color,0.8);
    overflow: hidden;
    z-index: 2;
  }
  &-container {
    max-width: $modal-width;
    background-color: #fff;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 30vh;

    h1{
      color: $secondary-color;
      font-size: 2rem;
    }
  }
}
