@import 'config';
@import 'utilities';

@import 'chart';
@import 'form';
@import 'edit';

@import 'modal';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

i {
  margin: 0 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 2px $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: lighten($primary-color, 20%);
    }
  }
}
