@import 'config';
@import 'utilities';

@import 'nav';
@import 'chart';
@import 'form';
@import 'edit';

@import 'modal';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

i {
  margin: 0 10px;
}
